@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


    <p>
        This website was created by Botseetsa Makunyane.
        <br />
        for more information email: botseetsam@gmail.com
    </p>

    <h6></h6>

